.Header{
    display: flex;
    text-align: center;
}
.contenedor_header{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}
.Principal{
    height: 100%;
    width: auto;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
.Contenedor_productos,.Contenedor_formulario{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titulo_lista{
    text-align: center;
}
.lista_prodcutos{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.objeto_lista{
    display: flex;
    width: 20%;
}

.contenedor_lista{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 8px;
}

.imagen_lista{
    width: 100%;
}

.precio_eliminar{
    display: flex;
    justify-content: space-between;
}
.Formulario_productos{
    display: flex;
    flex-direction: column;
}
.campo_formulario{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.botones{
    display: flex;
    gap: 20%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.Imagen_footer{
    padding-top: 20px;
    width: 10%;
}
